.App {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

.container-position{
	width: 80%;
  min-height: 700px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .container-position{
    width: 95%;
    height: 95%;
    overflow-x: hidden;
    margin-top: 10px;
  }
}

